/* Maps */
body {
  margin: 0%;
  padding: 0%;
  background: #1c92d2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f2fcfe, #1c92d2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  body .first-section {
    min-height: 1200px; }
    body .first-section .title {
      text-align: center;
      font-size: 40px; }
  body .picture {
    margin-top: 100px;
    -moz-border-radius-topright: 40px;
    -moz-border-radius-bottomright: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    -webkit-box-shadow: -23px 2px 18px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -23px 2px 18px 6px rgba(0, 0, 0, 0.75);
    box-shadow: -23px 2px 18px 6px rgba(0, 0, 0, 0.75); }
  body .aboutMe {
    margin-top: 100px;
    display: block;
    text-align: center; }
    body .aboutMe h2 {
      font-size: 24px;
      margin: 40px; }
    body .aboutMe p {
      font-size: 20px; }

/* Services Styles */
body {
  margin: 0%;
  padding: 0%;
  background: #1c92d2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f2fcfe, #1c92d2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  body .first-section {
    margin: auto;
    min-height: 1200px; }
    body .first-section .title {
      text-align: center;
      font-size: 40px; }
    body .first-section .card {
      margin: 5px auto;
      text-align: center; }

/* Service Styles */
body {
  margin: 0%;
  padding: 0%;
  background: #1c92d2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f2fcfe, #1c92d2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  body .first-section {
    margin: auto;
    min-height: 1200px; }
    body .first-section .title {
      text-align: center;
      font-size: 40px; }
  body .vimeo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    width: 300px;
    height: 300px; }

body {
  margin: 0%;
  padding: 0%;
  background: #1c92d2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f2fcfe, #1c92d2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  body .first-section {
    margin: auto;
    min-height: 1200px; }
    body .first-section .title {
      margin-top: 80px;
      text-align: center;
      font-size: 40px; }
    body .first-section .btn {
      margin: 20px; }
    body .first-section .carousel {
      width: 300px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 80px auto; }
      body .first-section .carousel .carousel-control-prev-icon {
        background-color: #666666; }
      body .first-section .carousel .carousel-control-next-icon {
        background-color: #666666; }

.final-section {
  display: block;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  text-align: center;
  padding: 60px 0px;
  margin: 300px 0px 0px 0px;
  position: bottom;
  height: 250px; }
  .final-section .conteiner-footer h3 {
    font-size: 24px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 40px; }
  .final-section .button-footer {
    font-size: 20px;
    background: #5cb8ff;
    padding: 15px 30px 15px 30px;
    color: white;
    transition: 1s;
    text-decoration: none; }

.button-footer:hover {
  color: black;
  transition: 1s; }
